.Xil
VHDL_Ex1.cache
VHDL_Ex1.hw
VHDL_Ex1.ip_user_files
VHDL_Ex1.runs
VHDL_Ex1.sim
vivado.jou
vivado.log
vivado_1468.backup.jou
vivado_1468.backup.log
webtalk.jou
webtalk.log
webtalk_1680.backup.jou
webtalk_1680.backup.log
*.str
